body { font-family: Arial; margin: 0; padding: 0; }
h1 { text-align: center; background-color: #ff6347; color: white; padding: 15px; }

/* ═══ خريطة بلون #212121 ═══ */
.leaflet-tile-pane {
  filter: saturate(0) brightness(.15) contrast(1.2);
}
.leaflet-control-attribution { display: none !important; }
